@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,600;0,6..12,700;0,6..12,800;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap");

/* section products */
:root {
  --color-primary: #fa0;
}

.txt {
  color: #fa0;
}

a.cta {
  color: #fa0 !important;
}

i.fa-solid:hover {
  color: #fff !important;
}

body {
  font-family: "Poppins", sans-serif;
}

.times {
  color: var(--color-primary) !important;
}

main {
  padding-top: 4rem;
}

.text-primary {
  color: var(--color-primary) !important;
}

.bg-gray {
  background-color: #fff2b3;
}

.max-w-sm {
  max-width: 425px !important;
}

#download {
  margin-bottom: 150px;
}

.notifications {
  height: 575px;
  padding: 0 50px;
  border-radius: 60px;
}

.bg-sction {
  background-color: #f5f5dc;
}

.notifications .notif-1 {
  width: 438px;
  height: 125px;
  border-radius: 25px;
  padding: 25px;
}

.notifications .notif-2 {
  width: 350px;
  height: 100px;
  border-radius: 20px;
  padding: 20px;
}

.notifications .notif-3 {
  width: 262px;
  height: 75px;
  padding: 15px;
  border-radius: 15px;
}

.notifications .name,
.notifications .message {
  margin-bottom: 0;
}

.notifications .name-1 {
  font-size: 20px;
  font-weight: 700;
}

.notifications .message-2 {
  font-size: 12px;
}

.notifications .message-3 {
  font-size: 9px;
}

.notifications .time-1 {
  font-size: 11px;
}

.notifications .time-2 {
  font-size: 10px;
}
.notifications .time-3 {
  font-size: 7px;
}

.profile {
  font-weight: 700;
}

.profile-img-1 {
  width: 75px;
  height: 75px;
  font-size: 22px;
}

.profile-img-2 {
  width: 60px;
  height: 60px;
  font-size: 18px;
}

.profile-img-3 {
  width: 50px;
  height: 50px;
  font-size: 11px;
}

.profile::after {
  content: attr(data-chat);
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  line-height: 20px;
  border: 3px solid white;
  font-size: 7px;
  color: white;
  font-weight: 700;
  border-radius: 100%;
  background-color: var(--color-primary);
}

.download-description a.cta {
  border: 2px solid var(--color-primary);
  padding: 15px 40px;
  border-radius: 999px;
  transition: all 0.3s linear;
}

.download-description a.cta:hover {
  background-color: var(--color-primary);
  color: #fff !important;
}

#transform h1 {
  font-size: 48px;
  margin-bottom: 25px;
}

#transform p {
  font-size: 16px;
}

#transform .header {
  margin-bottom: 100px;
}

#transform .cards {
  width: 100%;
  height: 575px !important;
  border-radius: 60px;

  @media (max-width: 568px) {
    height: 300px !important;
  }
}

.cards .msge {
  width: 350px;
  height: 100px;
  padding: 20px;
  column-gap: 20px;
  border-radius: 25px;
}

.msge .icon-img {
  width: 60px;
  height: 50px;
  border-radius: 100%;
}

.msge h6 {
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 0;
}

.cards .msge-x {
  width: 75px;
  height: 75px;
  border-radius: 20px;
}

.msage p {
  font-size: 12px;
}

.cards .file {
  width: 75px;
  height: 75px;
  padding: 25px;
  border-radius: 20px;
}

.book {
  width: 350px;
  height: 100px;
  padding: 20px;
  border-radius: 25px;
}

.book .profile {
  width: 60px;
  height: 60px;
}

.book .name-chat {
  font-size: 16px;
}

.book .msg-chat {
  font-size: 12px !important;
  margin-bottom: 0;
}

.book .time {
  font-size: 10px;
  color: var(--color-primary);
}

.cards .sales {
  width: 276px;
  height: 180px;
  padding: 20px;
  border-radius: 25px;
}

.sales .icon-img {
  width: 60px;
  height: 60px;
  border: 2px solid var(--color-primary);
  border-radius: 99px;
}

.sales .title {
  font-size: 16px;
}

.sales .profiles:not(:first-child) div {
  margin-inline: -4px;
  border: 2px solid white;
}

.sales .profile-img {
  width: 40px;
  height: 40px;
}

.sales .date {
  font-size: 12px !important;
}

.cards .upload {
  width: 350px;
  height: 100px;
  padding: 20px;
  border-radius: 20px;
}

.upload .profile-img {
  width: 46px;
  height: 46px;
}

.upload .title {
  font-size: 16px;
}

.upload .size {
  font-size: 12px;
}

.cards .cloud {
  width: 130px;
  height: 160px;
  border-radius: 25px;
  padding: 30px;
}

.cards .cloud .profile-img {
  width: 50px;
  height: 50px;
}

.cards .cloud p {
  font-size: 10px !important;
}

.cards .component {
  transition: all 0.1s linear;
}

.cards .component:hover {
  transform: scale(105%);
}

@media (max-width: 576px) {
  .cards > div {
    margin-top: -70px;
    transform: scale(0.385);
  }
}
/* akhir section products */
