@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,600;0,6..12,700;0,6..12,800;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap");

/* navbar */
a.navbar-brand {
  color: #ffe55e;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
}

a.navbar-brand:hover {
  color: #fa0;
}

span.pup {
  color: #fa0;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
}

a.nav-link {
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  opacity: 80%;
}

.container > h2,
.text {
  color: #124c5f;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 2px;
  font-weight: bold;
}

nav.navbar {
  background: #fff2b3;
  opacity: 80%;
}

button.login {
  background-color: #c7e7e1;
  color: #124c5f;
  border: 1px solid #124c5f;
}

button.login:hover {
  background-color: #124c5f;
  color: #fff;
  border: 1px solid #c7e7e1;
}

button.sign {
  background-color: #124c5f;
  color: #fff;
}

button.sign:hover {
  background-color: #c7e7e1;
  color: #124c5f;
}

/* section jumbotron */
.jumbotron {
  background-color: rgba(255, 242, 179, 0.34);
}

button.more {
  background-color: #124c5f;
  color: #fff;
  cursor: pointer;
}

button.more:hover {
  background-color: #c7e7e1;
  color: #124c5f;
  border: 1px solid #124c5f;
}

/* img service */
img.img-fluid-srv,
img.card-img {
  transition: transform 0.3s;
  cursor: pointer;
}

img.img-fluid-srv:hover,
img.card-img:hover {
  transform: scale(1.1);
}

/* section products */
div.products {
  transform-style: preserve-3d;
}

div.products::before {
  transform: translate(-50%, 0);
}

div.products:hover::before {
  opacity: 0.2;
}

img.products-img {
  transform: translate3d(-50%, -52%, 80px);
  transition: 0.5s;
  cursor: pointer;
}

div.products::after {
  transform: translate(-50%, 0);
  opacity: 0;
  transition: 0.5s;
}

div.products:hover::after {
  opacity: 0.2;
}

button.buy {
  color: #124c5f;
  border: 1px solid #124c5f;
}

button.buy:hover {
  color: #fff;
  background-color: #124c5f;
}

/* Modal */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#SignIn {
  background-image: url(https://png.pngtree.com/png-vector/20230221/ourmid/pngtree-cute-dog-vector-png-image_6612077.png);
  background-repeat: cover;
  background-position: center;
}
/* End Modal */

/* About Us*/
#about {
  background-color: rgba(255, 242, 179, 0.34);
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.img-about {
  max-width: 43%;
  height: auto;
  padding: 0 10px;
}

.about-content {
  max-width: 600px;
  padding: 0 10px;
  text-align: left; /* Align text content to the left */
}

.about-title {
  margin-top: 20px;
}

.about-content h1 {
  color: #000;
  font-size: 2.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.10625rem;
  margin-bottom: 20px;
}

.about-content p {
  color: #4e4c46;
  font-size: 1.1875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 137.9%; /* 1.63756rem */
  letter-spacing: 0.05938rem;
  margin-bottom: 35px;
}

.btn button {
  border-radius: 0.3125rem;
  background: #fff;
  padding: 20px 32px;
  color: #124c5f;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  border-color: #124c5f;
}

.btn button:hover {
  background-color: #124c5f;
  color: #fff;
  border: none;
  transition: all ease 0.3s;
}

.btn button span {
  margin-left: 20px;
}

@media (max-width: 768px) {
  .about-container {
    flex-direction: column;
    align-items: center;
  }

  .img-about,
  .about-content,
  .about-title {
    max-width: 100%;
    margin: 0; /* Reset margin for smaller screens */
  }
}

/* Pricing */
.pricing {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slide-container {
  max-width: 1120px;
  width: 100%;
  padding: 40px 0;
}

.slide-content {
  padding: 45px 20px;
  margin: 0 40px;
}
.card {
  border-radius: 40px 40px 25px 25px;
  background-color: #fff;
}
.image-content,
.card-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px 14px;
}
.image-content {
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}
.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: #ddd;
  border-radius: 25px 25px 0 25px;
}
.overlay::before,
.overlay::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: #ddd;
}
.overlay::after {
  border-radius: 0 25px 0 0;
  background-color: #fff;
}
.card-image {
  position: relative;
  height: 150px;
  width: 150px;
  padding: 3px;
  border-radius: 50%;
}

.card-image .card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border: none;
}
.name {
  color: #000;
  text-align: center;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.5rem;
}
.desc {
  color: #124c5f;
  text-align: center;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
}
.btn-price {
  color: #124c5f;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 700;
  border: 1px solid #124c5f;
  padding: 8px 16px;
  background-color: #fff;
  border-radius: 10px;
  margin: 14px;
}
.btn-price:hover {
  background-color: #124c5f;
  color: #fff;
  transition: all 0.3s ease;
}
.swiper-navBtn:hover {
  color: #124c5f;
}
.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 40px;
}
.swiper-button-next {
  right: 0;
}
.swiper-button-prev {
  left: 0;
}
.price {
  color: #124c5f;
  text-align: center;
  font-family: "Nunito Sans", sans-serif;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3rem;
}
@media screen and (max-width: 768px) {
  .slide-content {
    margin: 0 10px;
  }
  .swiper-navBtn {
    display: none;
  }
}
.paragraf{
    font-size: 16px;
    padding-top: 2px;
    color: #6a6f6f;
    font-weight: 600;
}
.judul2{
    font-weight: bold;
    font-size: 12px;
}
.style_notelp{
    color: #0c2d40;;
    font-weight: 700;
    font-size: 24px;
}
.font-neue{
    margin-top: 100px;
    margin-bottom: 50px;
    font-family: 'Bebas Neue';
    letter-spacing: -1px;
    font-size: 50px;
    font-weight: bold;
    color: #213f4f;
}
.style_amplop{
    width: 25px;
    height: 25px;
    margin-left: 20px;
}
.style_logo{
    width: 25px;
    height: 25px;
    margin-top: 12px;
    margin-left: 5px;
}
.style_logo2{
    width: 25px;
    height: 25px;
    margin-top: 12px;
    margin-left: 1px;
}
.style_arrow{
    width: 11px;
    height: 11px;
    margin-left: 15px;
    margin-bottom: 2px;
}
body{
    background-color:#9b9ba3;
}
.s-footer{
    font-size: 16px;
}
.container_utama{
    background-color:#b3b9b9;
    width: 100%;
    height: 100vh; 
}
.container_input{
    background-color:#cdd4d4;
    width: 650px;
    height: 100px;
    margin: auto;
    margin-top: 30px;   
    box-shadow: 0 0 2px #cdd4d4;
}
.container_input input{
    background-color: #cfd5d5;
    border: none; 
    outline: none;
    width: 230px;
    margin-left: 8px;
    margin-top: 35px;
}
.container_input button{
    margin-left: 160px;
    background-color: #002a40;
    width: 140px;
    height: 55px;
    color: #caced2;
    font-size: 14px;
    border-radius: 6px;
}
.wadah_foto{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #808080; 
    margin: 8px;
}