@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,600;0,6..12,700;0,6..12,800;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap");

/* bagian navbar dan jumbotron */
/* navbar */
a.navbar-brand {
  color: #ffe55e;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
}

a.navbar-brand:hover {
  color: #fa0;
}

span.pup {
  color: #fa0;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
}

a.nav-link {
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  opacity: 80%;
}

.container > h2,
.text {
  color: #124c5f;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 2px;
  font-weight: bold;
}

nav.navbar {
  background: #fff2b3;
  opacity: 80%;
}

button.login {
  background-color: #c7e7e1;
  color: #124c5f;
  border: 1px solid #124c5f;
}

button.login:hover {
  background-color: #124c5f;
  color: #fff;
  border: 1px solid #c7e7e1;
}

button.sign {
  background-color: #124c5f;
  color: #fff;
}

button.sign:hover {
  background-color: #c7e7e1;
  color: #124c5f;
}

/* section jumbotron */
.jumbotron {
  background-color: rgba(255, 242, 179, 0.34);
  background-repeat: cover;
  width: 100%;
  height: 700px;
  overflow: hidden;
}

.header {
  border-radius: 60px;
  background: #f5e8c7;
  max-width: 1240px;
  width: 1240px;
  height: 575px;
  margin: 0 auto;
  padding: 20px;
  flex-shrink: 0;
}
/* ===================================== grid ============================================ */
.row1,
.row2 {
  flex-direction: column;
}
.grid-1 {
  width: 75px;
  height: 75px;
  flex-shrink: 0;
}

.card1 {
  width: 70px;
  height: 80px;
  border-radius: 30%;
  background-color: #ffd28f;
}

.grid-2 {
  width: 320px;
  height: 100px;
  border-radius: 20px;
  background-color: #ffd28f;
  display: flex;
}

.card2 {
  width: 50px;
  height: 60px;
  border-radius: 40%;
}

.grid-3 {
  width: 270px;
  height: 100px;
  border-radius: 20px;
  background-color: #ffd28f;
  display: flex;
}

img.card3 {
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  margin-right: 7px;
  margin-left: 4px;
}

.member {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  stroke-width: 2px;
  stroke: #fff;
}

.grid-4 {
  width: 320px;
  height: auto;
  border-radius: 25px;
  background-color: #ffd28f;
  display: flex;
  padding: 10px;
  position: relative;
}

img.card4 {
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  margin-right: 10px;
}

.content-container {
  flex-grow: 1;
}

.text-container2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.column {
  margin-top: auto;
}

.grid-4:before,
.grid-4:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px;
  border-color: transparent;
}

.grid-4:before {
  top: 0;
  left: -20px;
  border-right-width: 15px;
  border-bottom-width: 15px;
  border-top-color: #ffd28f;
}

.grid-4:after {
  top: 0;
  left: -16px;
  border-right-width: 15px;
  border-bottom-width: 15px;
  border-top-color: #fff;
}

.grid-5 {
  width: 100px;
  height: 140px;
  flex-shrink: 0;
  border-radius: 25px;
  background: #ffd28f;
  margin-right: 350px;
  margin-bottom: 200px;
}

img.img5 {
  width: 50px;
  height: 60px;
  flex-shrink: 0;
  margin-top: 10px;
  justify-content: center;
}
.grid-6 {
  width: 320px;
  height: auto;
  border-radius: 25px;
  background-color: #ffd28f;
  display: flex;
  margin-top: 50px;
  padding: 10px;
  position: relative;
}

img.card6 {
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  margin-right: 10px;
}

.content-container {
  flex-grow: 1;
}

.text-container2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.column {
  margin-top: auto;
}

.grid-6:before,
.grid-6:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px;
  border-color: transparent;
}

.grid-6:before {
  top: 0;
  left: -20px;
  border-right-width: 15px;
  border-bottom-width: 15px;
  border-top-color: #ffd28f;
}

.grid-6:after {
  top: 0;
  left: -16px;
  border-right-width: 15px;
  border-bottom-width: 15px;
  border-top-color: #fff;
}

.grid-7 {
  width: 320px;
  height: 100px;
  border-radius: 20px;
  background-color: #ffd28f;
  display: flex;
  padding: 5px;
  margin-top: 300px;
  margin-right: 50%;
}

img.card7 {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  margin-right: 10px;
}

.text-container3 {
  padding-top: 5px;
  margin-right: 5px;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
}

img.bg-background {
  background-color: #fff2b3;
}

/* Tampilan mobile */
@media (max-width: 767px) {
  .jumbotron {
    height: auto;
  }

  .header {
    height: auto;
    max-width: 100%;
  }

  .col-md-5 {
    text-align: center;
    order: 1;
  }

  .col-md-4 {
    order: 2;
    margin-top: 20px;
  }
}
/* ================================ end of grid ==============================================*/

/* img service */
img.img-fluid-srv,
img.card-img {
  transition: transform 0.3s;
  cursor: pointer;
}

img.img-fluid-srv:hover,
img.card-img:hover {
  transform: scale(1.1);
}

.service-1 {
  margin-right: 450px;
  font-size: small;
}

.service-2 {
  font-size: small;
}

#service {
  font-size: 5px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px; /* 163.636% */
}
/* akhir bagian navbar dan jumbotron */
